@model TurneroMedico.DTOs.TurnoDTO

@{
    ViewData["Title"] = "Editar Turno";
}

<h1>Editar Turno</h1>

<form method="post">
    <div>
        <label for="PacienteId">Paciente</label>
        <select asp-for="PacienteId" asp-items="ViewBag.Pacientes" class="form-control"></select>
    </div>

    <div>
     <label for="DoctorId">Doctor</label>
        <select asp-for="DoctorId" asp-items="ViewBag.Doctores" class="form-control"></select>
    </div>
    <div>
        <label for="Hora">Hora:</label>
        <input asp-for="Hora" type="time" />
    </div>
    <button type="submit">Guardar</button>
</form>
